@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');

* {
    font-family: Titillium Web;
    font-size: 17.6px;
}

.s1 {
    background-color: #bcd6ff;
}

.contentS2 {
    opacity: 0;
}

.colorBadgeTopS {
    color: #578be0;
    user-select: none;
    display: none;
    font-size: 26.6px;
}

.colorBadgeTopL {
    color: #7eb752;
    user-select: none;
    display: none;
    font-size: 26.6px;
}

.s2 {
    background-color: #efffed;
}

.bg-acc {
    background-color: #fff9ef;
}

.account {
    font-size: 80px;
    margin-top: 3.6%;
    margin-bottom: 13.3%;
    font-weight: 200;
    user-select: none;
    transition: all 600ms;
}

.title {
    font-family: Arial;
    font-size: 100px;
    transition: all 600ms;
    user-select: none;
    filter: opacity(0);
}

.badge-success, .badge-primary {
    font: 16.2px Titillium web !important;
    vertical-align: top;
}

input {
    border: 1px solid #e0e0e0;
    border-radius: 3.5px;
    padding: 6px;
    transition: all 600ms;
}

input {
    outline: none;
}

.margin-left {
    margin-left: 35px;
}

@media screen and (max-width: 800px) {
    .title, .title span {
        font-size: 105px;
    }
    
    .account {
        font-size: 65px;
    }
    
    .badge-success, .badge-primary {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 600px) {
    .title, .title span {
        font-size: 65px;
    }
    
    .account {
        font-size: 50px;
    }
    
    .badge-success, .badge-primary {
        font-size: 14.5px !important;
    }
}

@media screen and (max-width: 400px) {
    .account {
        font-size: 45px;
    }
}